<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>inventory  regis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Clean.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>
        <body>
            <section class="login-clean" style="background: rgb(247,148,30);">
                <form method="post" style="width: 209;height: 400;padding: -7px;background: rgb(255,255,255);">
                    <h2 class="sr-only">Login Form</h2>
                    <div class="illustration" style="height: 195px;padding: -42px;margin: -28px;">
                        <a href="/inventorystart">
                        <img src="static/img/unnamed.png" style="height: 130px;color: rgb(244,121,32);">
                        </a>
                    </div>
                    <div class="form-group">
                        <h1 style="font-size: 25px;text-align: center;">Registration</h1>
                        <input class="form-control" type="text" name="First Name" placeholder="First Name" style="height: 33px;background: rgb(238,241,245);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Last Name" placeholder="Last Name" style="height: 33px;background: rgb(238,241,245);">
                    </div>
                    <input class="form-control" type="text" name="ID" placeholder="ID" style="height: 33px;background: rgb(238,241,245);">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 35px;text-align: center;font-size: 15px;font-family: 'Source Sans Pro', sans-serif;margin: 16px 0px 0px;padding: 2px;background: rgb(252,176,64);">
                        Submit
                        </button>
                    </div>
                    <a class="forgot" href="login" style="padding: -4px;">
                        Already have account?
                    </a>
                </form>
            </section>
            <script src="static/js/jquery.min.js">
            </script>
            <script src="static/bootstrap/js/bootstrap.min.js">
            </script>
        </body>
</html>